{% extends 'backtester/base.html' %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h2>{{ strategy.name|default:'[Unnamed]' }}</h2>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Description: {{ strategy.description }}</li>
      <li class="list-group-item">Created at: {{ strategy.created_at }}</li>
      <li class="list-group-item">By user: {{ strategy.user.username }}</li>
      <li class="list-group-item">Instrument: {{ strategyDetails.instrumentName }}</li>
      <li class="list-group-item">Capital Allocation: {{ strategyDetails.capitalAllocation }}</li>
      <li class="list-group-item">Time Frame: {{ strategyDetails.timeFrame }}</li>
      <li class="list-group-item">Buy Size: {{ strategyDetails.buySize }}</li>
      <li class="list-group-item">Sell Size: {{ strategyDetails.sellSize }}</li>
      <li class="list-group-item">Take Profit: {{ strategyDetails.takeProfit }}</li>
      <li class="list-group-item">Stop Loss: {{ strategyDetails.stopLoss }}</li>
      {% for indicator in strategyDetails.indicators %}
        <li class="list-group-item">Indicator: {{ indicator }}</li>
      {% endfor %}
      <li class="list-group-item">Buy Signal Mode: {{ strategyDetails.buySignalMode }}</li>
      {% for signal in strategyDetails.buySignals %}
        <li class="list-group-item">Buy Signal: {{ signal }}</li>
      {% endfor %}
      <li class="list-group-item">Sell Signal Mode: {{ strategyDetails.sellSignalMode }}</li>
      {% for signal in strategyDetails.sellSignals %}
        <li class="list-group-item">Sell Signal: {{ signal }}</li>
      {% endfor %}
      <li class="list-group-item">Exchange Buy Fee: {{ strategyDetails.exchangeBuyFee }}</li>
      <li class="list-group-item">Exchange Sell Fee: {{ strategyDetails.exchangeSellFee }}</li>
      <li class="list-group-item">Start Date Time: {{ strategyDetails.startDatetime }}</li>
      <li class="list-group-item">End Date Time: {{ strategyDetails.endDatetime }}</li>
    </ul>
    {% comment %}
  </div>
  <div class="card">
    {% endcomment %}
    {% if strategy.results %}
      <div class="card-header">
        <h2>Results</h2>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Total Fees: {{ results.totalFees }}</li>
        <li class="list-group-item">Count of Trades: {{ results.cntTrades }}</li>
        <li class="list-group-item">Total Buy Size: {{ results.totalBuySize }}</li>
        <li class="list-group-item">Total Sell Size: {{ results.totalSellSize }}</li>
        <li class="list-group-item">Count of Buys: {{ results.cntBuys }}</li>
        <li class="list-group-item">Count of Sells: {{ results.cntSells }}</li>
        <li class="list-group-item">Average Buy Size: {{ results.averageBuySize }}</li>
        <li class="list-group-item">Average Sell Size: {{ results.averageSellSize }}</li>
        <li class="list-group-item">Winning Selling Trades Percentage: {{ results.winningSellingTradesPercentage }}</li>
      </ul>
      <div class="card-body">
        <canvas id="chart_freeFundsOverTime"></canvas>
      </div>
      <div class="card-body">
        <canvas id="chart_balanceOverTime"></canvas>
      </div>
    {% else %}
      <div class="card-footer">
        <p>Results are still processing...</p>
      </div>
    {% endif %}
    {% if request.user == strategy.user %}
      <div class="card-footer">
        <a href="{% url 'backtester:strategy-delete' strategy.id %}" class="btn btn-danger">DELETE</a>
      </div>
      <div class="card-footer">
        <a href="{% url 'backtester:strategy-update' strategy.id %}" class="btn btn-primary">Update</a>
      </div>
    {% endif %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const dataTimeSeries = {{ results.timeSeries|safe }};
    const len = dataTimeSeries.length;
    let ctxFreeFundsOverTime = document.getElementById('chart_freeFundsOverTime').getContext('2d');
    let dataFreeFundsOverTime = {{ results.freeFundsOverTime|safe }};
    let chartFreeFundsOverTime = new Chart(ctxFreeFundsOverTime, {
        type: 'line',
        data: {
            labels: dataTimeSeries,
            datasets: [{
                label: 'Free Funds Over Time',
                data: dataFreeFundsOverTime
            }]
        },
        options: {
          scales: {
              x: {
                  ticks: {
                    callback: function(val, index) {
                      return index % Math.floor(len/5) === 0 ? this.getLabelForValue(val) : '';
                    },
                  }
              }
          }
        }
      });
    let ctxBalanceOverTime = document.getElementById('chart_balanceOverTime').getContext('2d');
    let dataBalanceOverTime = {{ results.balanceOverTime|safe }};
    let chartBalanceOverTime = new Chart(ctxBalanceOverTime, {
        type: 'line',
        data: {
            labels: dataTimeSeries,
            datasets: [{
                label: 'Balance Over Time',
                data: dataBalanceOverTime
            }]
        },
        options: {
          scales: {
              x: {
                  ticks: {
                    callback: function(val, index) {
                      return index % Math.floor(len/5) === 0 ? this.getLabelForValue(val) : '';
                    },
                  }
              }
          }
        }
      });
  </script>
{% endblock %}
