{% extends 'backtester/base.html' %}

{% block content %}
  <div>
    <a href="{% url 'backtester:strategy-add' %}" class="btn btn-primary">Add new strategy</a>

    <div>
      {% if latest_strategy_list %}
        <ul class="list-group">
          {% for strategy in latest_strategy_list %}
            <li class="list-group-item">
              <a href="{% url 'backtester:detail' strategy.id %}">{{ strategy.name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <div class="alert alert-info" role="alert">No strategies are available.</div>
      {% endif %}
    </div>

    <a href="{% url 'backtester:instruments' %}" class="btn btn-info">See available instruments</a>
  </div>
{% endblock %}
