{% extends 'backtester/base.html' %}
{% load static %}

{% block content %}
  <style>
    :root {
      --gap-size: 32px;
      box-sizing: border-box;
    }
    
    main {
      display: grid;
      width: 100%;
      padding: 0 calc(var(--gap-size) * 0.5);
      max-width: 960px;
      grid-template-columns: 1fr 1fr;
      grid-gap: var(--gap-size);
    }
    
    .span-full-grid,
    #symbol-info,
    #advanced-chart,
    #company-profile,
    #fundamental-data {
      grid-column: span 2;
    }
    
    .span-one-column,
    #technical-analysis,
    #top-stories,
    #powered-by-tv {
      grid-column: span 1;
    }
    
    #ticker-tape {
      width: 100%;
      margin-bottom: var(--gap-size);
    }
    
    #advanced-chart {
      height: 500px;
    }
    
    #company-profile {
      height: 390px;
    }
    
    #fundamental-data {
      height: 490px;
    }
    
    #technical-analysis,
    #top-stories {
      height: 425px;
    }
    
    #powered-by-tv {
      display: flex;
      background: #f8f9fd;
      border: solid 1px #e0e3eb;
      text-align: center;
      flex-direction: column;
      gap: 8px;
      font-size: 14px;
      padding: 16px;
      border-radius: 6px;
    }
    
    #powered-by-tv a,
    #powered-by-tv a:visited {
      color: #2962ff;
    }
    
    @media (max-width: 800px) {
      main > section,
      .span-full-grid,
      #technical-analysis,
      #top-stories,
      #powered-by-tv {
        grid-column: span 2;
      }
    }
  </style>
  <main>
    <section id="symbol-info"></section>
    <section id="advanced-chart"></section>
    <section id="company-profile"></section>
    <section id="fundamental-data"></section>
    <section id="technical-analysis"></section>
    <section id="top-stories"></section>
  </main>
  <template id="symbol-info-template">
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
      {
      "symbol": "NASDAQ:AAPL",
      "width": "100%",
      "locale": "en",
      "colorTheme": "light",
      "isTransparent": true
       }
    </script>
    </div>
    <!-- TradingView Widget END -->
  </template>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <template id="advanced-chart-template">
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container" style="height: 100%; width: 100%">
      <div id="tradingview_ae7da" style="height: calc(100% - 32px); width: 100%"></div>

      <script type="text/javascript">
      new TradingView.widget({
        autosize: true,
        symbol: '{{ symbol }}',
        interval: 'D',
        timezone: 'Etc/UTC',
        theme: 'light',
        style: '1',
        locale: 'en',
        enable_publishing: false,
        hide_side_toolbar: true,
        {% comment %} studies: ['STD;MACD'], {% endcomment %}
        container_id: 'tradingview_ae7da',
      });
    </script>
    </div>
    <!-- TradingView Widget END -->
  </template>
  <template id="company-profile-template">
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-profile.js" async>
        {
        "width": "100%",
        "height": "100%",
        "colorTheme": "light",
        "isTransparent": true,
        "symbol": "NASDAQ:AAPL",
        "locale": "en"
      }
    </script>
    </div>
    <!-- TradingView Widget END -->
  </template>
  <template id="fundamental-data-template">
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-financials.js" async>
        {
        "colorTheme": "light",
        "isTransparent": true,
        "largeChartUrl": "",
        "displayMode": "adaptive",
        "width": "100%",
        "height": "100%",
        "symbol": "NASDAQ:AAPL",
        "locale": "en"
      }
    </script>
    </div>
    <!-- TradingView Widget END -->
  </template>
  <template id="technical-analysis-template">
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
      {
      "interval": "15m",
      "width": "100%",
      "isTransparent": true,
      "height": "100%",
      "symbol": "NASDAQ:AAPL",
      "showIntervalTabs": true,
      "displayMode": "single",
      "locale": "en",
      "colorTheme": "light"
       }
    </script>
    </div>
    <!-- TradingView Widget END -->
  </template>
  <template id="top-stories-template">
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js" async>
        {
        "feedMode": "symbol",
        "symbol": "NASDAQ:AAPL",
        "colorTheme": "light",
        "isTransparent": true,
        "displayMode": "regular",
        "width": "100%",
        "height": "100%",
        "locale": "en"
      }
    </script>
    </div>
    <!-- TradingView Widget END -->
  </template>
  <script>
  function cloneTemplateInto(templateId, targetId, rewrites) {
    const tmpl = document.querySelector(`#${templateId}`);
    if (!tmpl) return;
    const target = document.querySelector(`#${targetId}`);
    if (!target) return;
    target.innerText = '';
    const clone = tmpl.content.cloneNode(true);
    if (rewrites) {
      const script = clone.querySelector('script');
      script.textContent = rewrites(script.textContent);
    }
    target.appendChild(clone);
  }
  const symbol = "{{ symbol|safe }}"; // NASDAQ:AAPL 
  function setSymbol(scriptContent) {
    return scriptContent.replace(/"symbol": "([^"]*)"/g, () => {
      return `"symbol": "${symbol}"`;
    });
  }
  cloneTemplateInto('symbol-info-template', 'symbol-info', setSymbol);
  cloneTemplateInto('advanced-chart-template', 'advanced-chart');
  cloneTemplateInto('company-profile-template', 'company-profile', setSymbol);
  cloneTemplateInto('fundamental-data-template', 'fundamental-data', setSymbol);
  cloneTemplateInto('technical-analysis-template', 'technical-analysis', setSymbol);
  cloneTemplateInto('top-stories-template', 'top-stories', setSymbol);
  if (symbol) {
    document.title = `Stock Details - ${symbol}`;
  }
</script>
  {% comment %} <div id="tester" style="width:600px;height:250px;"></div> {% endcomment %}
  {% comment %} <div style="width:1200px;height:600px;">
    <canvas id="chart"></canvas>
    <div>
      Bar Type:<select id="type">
        <option value="candlestick" selected="">Candlestick</option>
        <option value="ohlc">OHLC</option>
      </select>Scale Type:<select id="scale-type">
        <option value="linear" selected="">Linear</option>
        <option value="logarithmic">Logarithmic</option>
      </select>Color Scheme:<select id="color-scheme">
        <option value="muted" selected="">Muted</option>
        <option value="neon">Neon</option>
      </select>Border:<select id="border">
        <option value="true" selected="">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.3.1"></script>
  <script src="{% static 'backtester/chartjs-chart-financial.js' %}" type="text/javascript"></script>
  <script>
    var ctx = document.getElementById('chart').getContext('2d')
    ctx.canvas.width = 1000
    ctx.canvas.height = 250
    
    var chart = new Chart(ctx, {
      type: 'candlestick',
      data: {
        datasets: [
          {
            label: 'CHRT - Chart.js Corporation',
            data: {{data|safe}},
          }
        ]
      }
    })
    
    var update = function () {
      var dataset = chart.config.data.datasets[0]
    
      // candlestick vs ohlc
      var type = document.getElementById('type').value
      chart.config.type = type
    
      // linear vs log
      var scaleType = document.getElementById('scale-type').value
      chart.config.options.scales.y.type = scaleType
    
      // color
      var colorScheme = document.getElementById('color-scheme').value
      if (colorScheme === 'neon') {
        chart.config.data.datasets[0].backgroundColors = {
          up: '#01ff01',
          down: '#fe0000',
          unchanged: '#999'
        }
      } else {
        delete chart.config.data.datasets[0].backgroundColors
      }
    
      // border
      var border = document.getElementById('border').value
      if (border === 'false') {
        dataset.borderColors = 'rgba(0, 0, 0, 0)'
      } else {
        delete dataset.borderColors
      }
    
    
      chart.update()
    }
    
    ;[...document.getElementsByTagName('select')].forEach((element) => element.addEventListener('change', update))
    
  </script> {% endcomment %}

  {% comment %} <script src="https://cdn.plot.ly/plotly-2.32.0.min.js" charset="utf-8"></script>
  <script>
    TESTER = document.getElementById('tester')
    Plotly.newPlot(
      TESTER,
      [
        {
            x: {{ x|safe }},
            y: {{ y|safe }}
        }
      ],
      {
        margin: { t: 0 }
      }
    )
  </script> {% endcomment %}
{% endblock %}
