{% extends 'backtester/base.html' %}
{% load static %}

{% block content %}
  <div class="d-flex flex-column align-items-center justify-content-center w-100">
    {% if user.is_authenticated %}
      <div class="card w-50">
        <div class="card-header">
          <h2>Add a new strategy</h2>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">{{ form.as_p }}</div>

            {{ indicators.management_form }}
            <div class="form-group row nested-query-formset">
              {% for indicator_form in indicators %}
                <div class="indicator-formset card mb-3">
                  <div class="card-body">{{ indicator_form.as_p }}</div>
                </div>
              {% endfor %}
            </div>

            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    {% else %}
      <div class="alert alert-warning" role="alert">You must be logged in to add a strategy.</div>
    {% endif %}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'backtester/jquery.formset.js' %}"></script>
  <script type="text/javascript">
    $('.nested-query-formset').formset({
      addText: 'Add a new indicator',
      deleteText: 'Remove this indicator'
    })
  </script>
{% endblock %}
