{% extends "backtester/base.html" %}

{% block content %}

{% comment %} {% block extrastyle %} {% endcomment %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'user/user-form.css' %}"> {% endcomment %}
{% comment %} {% endblock %} {% endcomment %}



<body>
  <form method="post" class="box-user">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- <a class="forgot text-muted" href="#">Forgot password?</a>  -->
    <input type="submit" value="Login" href="#">
  </form>

  {% if user.is_authenticated %}
      <p class="errornote">You are already logged in as {{ user.username }}. Do you want to log in to another account?</p>
  {% else %}
      <span class="text-center"> If you don't have an account <a href="{%url 'register' %}"> Register</a></span>
  {% endif %}
</body>

{% endblock %}