{% block register %}
{% endblock %}

{% block content %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'user/user-form.css' %}"> {% endcomment %}
<body>
	<div class="container py-5 h-100">
	    <div class="row d-flex justify-content-center align-items-center h-100">
	        <div class="col-md-6">
	            <div class="card">
	                <form method="post" class="box-user">
	                    {% csrf_token %}
	                    {{ form.as_p }}
	                    <!-- <a class="forgot text-muted" href="#">Forgot password?</a>  -->
	                    <input type="submit" value="Register" href="#">
	             		
	             		<span class="text-center"> If you already have an account <a href="{%url 'login' %}"> Login</a></span>
		            </form>
		        </div>
		    </div>
		</div>
	</div>
</body>
{% endblock %}